#mogo-inject .mogo-button {
  position: fixed;
  top: 73px;
  right: 0px;
  width: 42px;
  height: 42px;
  padding: 5px;
  box-sizing: border-box;
  border: 1px solid #00d26e;
  border-radius: 5px 0 0 5px;
  border-right-color: transparent;
  cursor: pointer;
  background: #fff;
  z-index: 99999999;
}

#mogo-inject .mogo-button svg {
  width: 100%;
  height: 100%;
}

#mogo-inject .mogo main {
  /*opacity: 0;*/
  /*pointer-events: none;*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: calc(100vw - 80px);
  height: calc(100vh - 50px);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  background: #fff;
  z-index: 99999999;
  padding: 50px;
}

#mogo-inject .mogo-integration-categoria:not(:first-child) {
  margin-top: 15px;
}

#mogo-inject main svg{
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#mogo-inject main svg:hover{
  color: #ff304f;
}

#mogo-inject .relative {
  position: relative;
}

#mogo-inject .mogo-hidden main{
  opacity: 0;
  pointer-events: none;
}


#mogo-inject .flex{
  display: flex;
}

#mogo-inject .geraldo, #mogo-inject .mogo{
  flex: 1;
}